<mat-drawer-container class="menu-container">
  <mat-drawer mode="side" class="my-menu" opened>
    <div class="icons-wrapper">
      <div *ngFor="let icon of icons">
        <mat-icon class="menu-icon">{{icon}}</mat-icon>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="carousel-container">
    <p-carousel [value]="images" [numVisible]="3" [numScroll]="3" [autoplayInterval]="3000" orientation="vertical">
      <ng-template let-image pTemplate="item">
        <div>
          <p-image [src]="image.picture" [width]="'195'"></p-image>
        </div>
      </ng-template>
    </p-carousel>
  </mat-drawer-content>
</mat-drawer-container>
