<mat-card class="clock-card-wrapper">
  <mat-card-content class="clock-card">
    <div class="clock-image-wrapper">
      <div>
        <img mat-card-image class="clock-image" src="https://cdn-icons.flaticon.com/png/512/3694/premium/3694429.png?token=exp=1653595676~hmac=6c479b1f29e87df8337fb90a7637d028"
             alt="Clock image">
      </div>
    </div>
    <div class="card-content-wrapper time-date-text">
      <h1>{{ time | date: 'HH:mm' }}</h1>
      <p>{{ time | date: 'MMMM, d, y' }}</p>
    </div>
  </mat-card-content>
</mat-card>
