<mat-card [appColoredEdge]="{width: 4}" class="example-card">
  <img mat-card-image src="https://cdn.dribbble.com/users/3104830/screenshots/6752001/lvivmap_eng.jpg"
       alt="Lviv map" class="map-image">
  <mat-card-content class="map-card-content">
    <div class="map-text">
      <h1>Polotsky palace</h1>
      <p>Mykoly Kopernyka St, 15</p>
      <p>Lviv, Lviv Oblast, 79000</p>
    </div>
    <div class="map-icon">
      <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/6595/6595664.png" alt="map icon">
    </div>
  </mat-card-content>
</mat-card>
