<mat-tab-group [appColoredEdge]="{width: 3}"  mat-align-tabs="center" class="header-wrapper">
  <mat-tab *ngFor="let link of links">
    <ng-template mat-tab-label>
      <div [routerLink]="link">
        {{link  ? link : 'Dashboard'}}
        <mat-icon *ngIf="linksIconMap[link] === iconWithBadge; else defaultIcon" color="accent" matBadge="5" matBadgeColor="accent">
          {{linksIconMap[link]}}
        </mat-icon>
        <ng-template #defaultIcon>
          <mat-icon color="accent">{{linksIconMap[link]}}</mat-icon>
        </ng-template>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
