<div class="bar-wrapper">
  {{progressStatus}}
  <mat-progress-bar mode="determinate" color="accent" [value]="progressValue"></mat-progress-bar>
</div>
<div class="social-media-wrapper">
  <div *ngFor="let item of icons">
    <a class="mdc-list-item" href="{{item.link}}">
      <span class="mdc-list-item__ripple"></span>
      <i class="fa {{item.icon}}" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div>
  <form #userForm="ngForm" id="form" (ngSubmit)="submitUser(userForm)" class="form-wrapper">
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput id="username" name="username" [(ngModel)]="userData.name">
    </mat-form-field>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" [(ngModel)]="userData.password">
    </mat-form-field>
    <button class="sign-in-btn" type="submit" mat-stroked-button color="primary">Sign in</button>
  </form>
</div>

