<div class="bar-wrapper">
  <div class="progress-info">
    <h3>{{progressStatus}}</h3>
    <p>{{progressValue}}%</p>
  </div>
  <mat-progress-bar mode="determinate" color="accent" [value]="progressValue"></mat-progress-bar>
</div>
<div class="social-media-wrapper">
  <div *ngFor="let item of icons">
    <a class="mdc-list-item" href="{{item.link}}">
      <span class="mdc-list-item__ripple"></span>
      <i class="fa {{item.icon}}" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="social-media-info">
  <div *ngFor="let text of iconsSubscripts">
    <p>{{text}}</p>
  </div>
</div>
<div>
  <app-custom-form [inputData]="{
    username: '',
    password: ''
  }" (processDataEvent)="submitUser($event)"
     [submitText]="'Sign in'"
     [headerText]="'Sign in to your account'"
     [formClass]="'sign-in-form'"></app-custom-form>
</div>

