<mat-card [appColoredEdge]="{width: 4}" class="trainer-card">
  <img mat-card-image
       src="https://images.complex.com/complex/images/c_crop,h_1829,w_3398,x_392,y_869/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/ds8h7y1m657de1jtftbp/off-white-nike-mercurial-vapor-360-7?fimg-client-default"
       alt="Nike trainer"
       class="trainer-img">
  <mat-card-content>
    <div class="trainer-card-content">
      <div>
        <h1>Nike</h1>
        <h1 class="light-header">Mercurial</h1>
      </div>
      <div>
        <h1>135$</h1>
        <p-rating [(ngModel)]="trainerRating" [cancel]="false" [readonly]="true" [iconOnStyle]="{color: '#FF5722'}"></p-rating>
      </div>
    </div>
  </mat-card-content>
</mat-card>
