.trainer-card {
  height: 100%;

  mat-card-content {
    height: 50%;
  }
}

.trainer-card-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;

  & div {
    height: 50%;
  }
}

.trainer-img.mat-card-image:first-child {
  margin-top: -16.5px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.light-header {
  font-weight: lighter;
}
