@import "~src/styles";

.large-card-wrapper {
  margin-bottom: 25px;
}

.trainer-card-wrapper {
  flex-basis: 27.9%;
}

.chat-view-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.chat-box-wrapper {
  .round-border();
  .border-shadow();
  background-color: white;
  height: 32.3%;
}

.date-time-card-wrapper, .chat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}

