@import "~src/styles";

.grid-main {
  padding: 25px;
}

.mat-grid-tile {
  .main-background()
}

.contacts-view, .chat-view {
  align-self: start;
}

.chat-view {
  height: 100%;
}

.chat-view-wrapper {
  height: 100%;
  background-color: aliceblue;
}
