<mat-grid-list cols="3" [rowHeight]="'4:5'" [gutterSize]="'25'" [classList]="['grid-main']">
  <mat-grid-tile>
    <app-carousel></app-carousel>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-chart></app-chart>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-progress-bar></app-progress-bar>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="3" [colspan]="1">
    <div class="contacts-view">
      <app-contact-view></app-contact-view>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="2">
    <app-large-card></app-large-card>
  </mat-grid-tile>
</mat-grid-list>
