@import "~src/styles";

.grid-main {
  padding: 25px;
}

.contacts-view, .chat-view {
  align-self: start;
}

.chat-view-wrapper, .contacts-view-wrapper {
  height: 100%;
  background-color: aliceblue;
}

.contacts-view, .progress-bar-view, .chart-wrapper, .carousel-wrapper {
  width: 100%;
}

.chat-view, .contacts-view, .progress-bar-view {
  height: 100%;
}

.chart-wrapper, .carousel-wrapper {
  height: 100%;
  background-color: white;
}

.carousel-wrapper {
  .centered-block();
}
