body {
  background-color: aliceblue;
}

.main-background() {
  background-color: white;
}

.centered-block() {
  display: flex;
  justify-content: center;
}

@transparent-grey: rgba(175,175,175,0.75);

@primary-color: #FF9800;
@accent-color: #FF5722;
@deep-accent-color: #FF3D00;
